# ignore file by extension.
*.rpt
*.qdf
*.done
*.dpf
*.summary
*.pin
*.pof
*.qws
*.sof
*.smsg
*.txt
*.jpg
db/
incremental_db/
simulation/

/tools/microcode_generator/gen_ucode
/tools/assembler/assembler
*.o

*.hex

*.ods#
*.swp
# => excludes *.sof from ignoring.
#!*.sof
