# ignore file by extension.
*.rpt
*.qdf
*.done
*.dpf
*.summary
*.pin
*.pof
*.qws
*.sof
*.smsg
*.txt
*.jpg
*.bak
*.o
*.hex
*.ods#
*.swp
*.pdf
*.aux
*.dvi
*.log
*.toc
*.out
*.lof
*.lot

#ignore directories
db/
incremental_db/
simulation/
output_files

#ignore specific files
/tools/microcode_generator/gen_ucode
/tools/microcode_generator/ucode_gen.vhd
/tools/assembler/assembler

#un-ignore some compiled tex:
!m2cpu_architecture.pdf
